<p>Usr : <%= @user.name %></p>
<p>Album : <%= @album.name %></p>
<p>Picture : <%= @pic.pic %></p>


<br><br><p>-----------------------------------------------------</p>
<% if @comments.blank?%>
<p>no comments :P</p>
<% else %>
<% @comments.each do |c| %>
<p><%= link_to User.find(c.user_id).name, {:action => 'show', :controller => 'user', :id => c.user_id} %>
  <%= c.post %></p>
<% end %>
<% end %>

<% form_tag ({:action => 'create', :controller => 'comment'}) do %>
<p><label for="comment_post">comment: </label>
  <%= text_area 'comment', 'post', {:rows => 1, :cols => 10} %>
  <!--   IMPORTANT:: change n pass the user.id of user in session -->
  <%= text_field 'comment', 'user_id', {:hidden => true, :value => session[:user].id} %>
<%= text_area 'comment', 'picture_id', {:hidden => true, :value => @pic.id} %>
</p>
<p><%= submit_tag "Create" %> </p>
<% end %>


