<%= render :partial => 'user/userinfo' %>



<% if !@request.blank? %>
<h5>People who wants to follow you</h5>
<% @request.each do |r| %>
<% u = User.find(r) %>
<p>  <%= link_to u.name, {:controller => 'user', :action => 'show', :id => u.id},{:style=>'color:blue'} %>
  | <%= link_to "Accept", {:controller => 'user', :action => 'accept', :id => u.id} %>
  | <%= link_to "Reject", {:controller => 'user', :action => 'reject', :id => u.id},{:style=>'color:red'} %></p>
<% end %>
<% end %>

<% @albums.each do |a| %>
<p>  <%= link_to a.name, {:controller => 'album', :action => 'show', :id => a.id} %></p>
<% end %>

<% form_tag ({:action => 'create', :controller => 'album'}) do %>
<p><label for="New Abum">New Album</label>:
  <%= text_field 'album', 'name' %></p>
<%= text_field 'album', 'user_id', {:value => @user.id, :hidden => true} %>
<p><%= submit_tag "Create" %> </p>
<% end %>


