<%= render :partial => 'user/userinfo' %>
</td>
<td valign = top width = 30% style="padding-top:20px">
  <%= render :partial => 'user/userfriend' %>

<% if !@FriendRequest.blank? %>
<h5>Pending Requests</h5>
<% @FriendRequest.each do |fr| %>
<% u = User.find(fr.user1) %>
<p>  <%= link_to u.name, {:controller => 'user', :action => 'show', :id => u.id},{:style=>'color:blue'} %>
  | <%= link_to "Accept", {:controller => 'user', :action => 'accept', :id => fr.id} %>
  | <%= link_to "Reject", {:controller => 'user', :action => 'unfollow', :id => fr.id},{:style=>'color:red'} %>
</p>
<% end %>
<% end %>

</td>
</tr></table>

<% if @albums.blank? %>
  <h4> No Albums </h4>
<% else %>
<h4> Albums [<%= @albums.count%>] </h4>
<% @albums.each do |a| %>
<p>  <%= link_to a.name, {:controller => 'album', :action => 'show', :id => a.id} %>
  [<%= a.pictures.count%>] </p>
<% end %>
<% end %>

<tr><td>
<% form_tag ({:action => 'create', :controller => 'album'}) do %>
<p align = left><label for="New Abum">New Album</label>:
  <%= text_field 'album', 'name',{:size => 20} %>
<%= hidden_field 'album', 'user_id', {:value => @user.id} %>
<%= submit_tag "Create" %> </p>
<% end %>
</td></tr>

</tr></table>
