<p align = center> 
  <%= link_to "Go to Own Profile homepage", {:controller => 'user', :action => 'showme'}%>
</p>

<p>ID : <%= @user.id %></p>
<p>Name : <%= @user.name %></p>
<p>Location : <%= @user.location %></p>
<p>Birthday : <%= @user.birthday %></p>
<p>Sex : <%= @user.sex %></p>

<% if !@friends.blank? %>
<h4>Friends</h4>
<% @friends.each do |f| %>
<% u = User.find(f) %>
<p>  <%= link_to u.name, {:controller => 'user', :action => 'show', :id => u.id} %></p>
<% end %>
<% end %>

<% form_tag ({:action => 'search', :controller => 'user'}) do %>
<p><label for="Search People">People</label>:
  <%= text_field 'query', 'name' %>
  <%= submit_tag "Search" %> </p>
<% end %>

<% if @albums.blank? %>
<p> No Albums :-( </p>
<% else %>
<% @albums.each do |a| %>
<p>  <%= link_to a.name, {:controller => 'album', :action => 'show', :id => a.id} %></p>
<% end %>
<% end %>
