<%= render :partial => 'user/userinfo' %>

<% if !@FriendRequestSend.blank? %>
Waiting Confirmation <%= link_to "Cancel Request", {:action => 'unfollow', :controller => 'user', :id => @FriendRequestSend.id} %></p>

<% elsif !@FriendRequestReceived.blank? %>
<% u = User.find(@FriendRequestReceived.user1) %>
<%= link_to u.name, {:controller => 'user', :action => 'show', :id => u.id},{:style=>'color:blue'} %>
| <%= link_to "Accept", {:controller => 'user', :action => 'accept', :id => @FriendRequestReceived.id} %>
| <%= link_to "Reject", {:controller => 'user', :action => 'unfollow', :id => @FriendRequestReceived.id},{:style=>'color:red'} %></p>
<% else %>

<%= link_to "send fasdollow request", {:action => 'follow', :controller => 'user', :id => @user.id} %></p>
<% end %>

<% if @albums.blank? %>
<p> No Albums :-( </p>
<% else %>
<% @albums.each do |a| %>
<p>  <%= link_to a.name, {:controller => 'album', :action => 'show', :id => a.id} %></p>
<% end %>
<% end %>
