<p>
  <b>Album:</b>
  <%=h @picture.album_id %>
</p>

<p>
  <b>User:</b>
  <%=h @picture.user_id %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @picture.photo.url(:small) %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
