<%= render :partial => 'user/userinfo' %>

<h2><%= @album.name %></h2>
<div align = "right">
  | <%= link_to "Edit", {:action => 'edit', :controller => 'album', :id => @album.id}%>
  | <%= link_to "Delete", {:action => 'delete', :controller => 'album', :id => @album.id, :uid => @user.id} %>
  | </div>
<% if @pics.blank? %>
<p> Empty album </p>
<% else %>
<% @pics.each do |p| %>
<p><%= link_to p.pic, {:action => 'show', :controller => 'picture', :id => p.id}%>
</p>
<% end %>
<% end %>

<% form_tag ({:action => 'create', :controller => 'picture'}) do %>
<p><label for="Upload Picture">Upload Picture</label>:
  <%= text_field 'picture', 'pic' %>
  <%= text_field 'picture', 'user_id', {:value => @user.id, :hidden => true} %>
  <%= text_field 'picture', 'album_id', {:value => @album.id, :hidden => true} %>
  <%= submit_tag "Create" %> </p>
<% end %>

