<%= render :partial => 'user/userinfo' %>
</td>
<td valign = top width = 30% style="padding-top:20px">
  <%= render :partial => 'user/userfriend' %>
</td>
</tr></table>



<h2><%= @album.name%>[<%= @album.pictures.count %>]</h2>
<% if @user.id.to_s == session[:user].id.to_s %>
<div align = "right">
  | <%= link_to "Edit", {:action => 'edit', :controller => 'album', :id => @album.id}%>
  | <%= link_to "Delete", {:action => 'delete', :controller => 'album', :id => @album.id, :uid => @user.id} %>
  | </div>
<% end %>


<p><% @picture.each do |@p| %>
  <%= link_to (image_tag @p.photo.url, {:style => 'width:150px'}), {:controller => 'pictures', :action => 'show', :id => @p.id} %>
  <% end %>
</p>


<% if @user.id.to_s == session[:user].id.to_s %>
<% form_for :picture, @picture, :url => { :controller => 'pictures', :action => 'create' }, :html => { :multipart => true } do |f| %> 
<%= f.error_messages %>

<%= f.hidden_field :album_id, {:value => @album.id} %>
<%= f.hidden_field :user_id, {:value => session[:user].id}%>
<p>
  <%= f.file_field :photo %>
  <%= f.submit "Upload" %>
</p>
<% end %>
<% end %>
